<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
<div class="jumbotron">
  <h1>About me</h1>
  <p>My name is Fadel. My surname is Hayeemareh. I am 22 years old. 
  I weigh 60 kilos. I am 171 cms tall. My hobbies are playing games, 
  watching movies and playing Table tennis. </p>
  <br>
  
  <p><a href="https://localhost-6010110254labdjango.paiza-user-free.cloud:8000" class="btn btn-primary">Home</a></p>
  <p><a href="https://localhost-6010110254labdjango.paiza-user-free.cloud:8000/contact" class="btn btn-primary">Contact</a></p>
</div>
  </body>
</html>