<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>It's me</h1>
        <h1> Fadel Hayeemareh</h1>
        <h2>6010110254</h2>
          <p><a href="https://localhost-6010110254labdjango.paiza-user-free.cloud:8000/aboutme" class="btn btn-primary">About me</a></p>
          <p><a href="https://localhost-6010110254labdjango.paiza-user-free.cloud:8000/contact" class="btn btn-primary">Contact</a></p>
        <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/40138738_10204685125004310_7645395138134409216_o.jpg?_nc_cat=103&_nc_ohc=Fp100FJhcSUAX9UkqkB&_nc_ht=scontent.fbkk10-1.fna&oh=5897dfb5f3ba64ac7458d8d54ab56a7b&oe=5EB6C879" style="width:640px;height:360px">
        <h5>picture by <a href="https://www.facebook.com/Fadelzaa">Fadel Hayeemareh CoE</a></h5>
    </div>
    </div>

  </body>
</html>